<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Showing all employees</h1>
    <ul>
      <% for(let employee of employees){ %>
      <li><a href=<%=`/employees/${employee._id}`%>> <%=employee.name %> </a> - <%= employee.age %></li>
      <% } %>
    </ul>
  </body>
</html>
