<% layout("layouts/boilerplate") %>
<h1>Showing auditorium With the ID: <%= auditorium._id %></h1>
<p>Number: <%= auditorium.number %></p>
<p>Capacity: <%= auditorium.capacity %></p>
<p>Proyection Type: <%= auditorium.proyectionType %></p>
