<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome!</h1>

    <form action="/sales" method="get">
      <button>Sales</button>
    </form>
    <form action="/users" method="get">
      <button>Users</button>
    </form>
    <form action="/providers" method="get">
      <button>Providers</button>
    </form>
    <form action="/products" method="get">
      <button>Products</button>
    </form>
    <form action="/movies" method="get">
      <button>Movies</button>
    </form>
    <form action="/auditoriums" method="get">
      <button>Auditoriums</button>
    </form>
    <!--
    <form action="/users/new" method="get">
      <button>New User</button>
    </form>
    <form action="/users" method="get">
      <button>User - Show All</button>
    </form>
    <form action="">
      <button <% //if(userType !="admin" ){%>
        disabled <%// } %> >Only Admin Button
      </button>
    </form>
    -->
  </body>
</html>
