<% layout("layouts/boilerplate") %>
<h1>Welcome to PolisCine</h1>
<form action="/" method="POST">
  <div>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" />
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
