<% layout("layouts/boilerplate") %>
<h1>Product Purchase</h1>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Invoice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%=new Date().getMonth()%>-<%=new Date().getDate()%>-<%=new
        Date().getFullYear()%>
      </td>
      <td>AAAA</td>
    </tr>
  </tbody>
</table>
<div class="container d-flex flex-row">
  <div class="container m-2 w-100">
    <h2>Product ID</h2>
    <input type="number" id="search_product_id" />
    <h2>Quantity</h2>
    <div>
      <input
        id="product_quantity"
        type="number"
        name="product_quantity"
        value="1"
      />
    </div>
    <button onclick="addProduct('<%= JSON.stringify(products) %>')">
      Add Product
    </button>
  </div>
  <div class="container m-2 w-100">
    <h2>Order Overview</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price Per Unit</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody id="order_table_body"></tbody>
      <thead>
        <tr>
          <th></th>
          <th>Subtotal</th>
          <th>IVA (5%)</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td id="totals_subtotal">0</td>
          <td id="totals_iva">0</td>
          <td id="totals_total">0</td>
        </tr>
      </tbody>
    </table>
    <button>Go to checkout</button>
  </div>
</div>

<script src="/scripts/sellproducts.js"></script>
